<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Visitor App</a>
  <ul class="navbar-nav mr-auto">
    <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']">Register visit <span class="sr-only">(current)</span></a>
    </li>
    <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
      <div  class="dropdown" dropdown>
        <a class="dropdown-toggle nav-link" dropdownToggle>
          Dashboard 
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/live-visitors']">Live Visitors</a>
          <a class="dropdown-item" [routerLink]="['/all-visitors']">All Visitors</a>
          <a class="dropdown-item" [routerLink]="['/graphs']">Graphs</a>
        </div>
      </div>
    </li>
  </ul>




  <div *ngIf="loggedIn()">
    <span class="text-light">Hi, {{authService.decodedToken?.unique_name | titlecase}} </span>
    <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()">Logout</button>
  </div>

  <form *ngIf="!loggedIn() && loginMode" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>

  <div *ngIf="!loginMode">
    <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="loginModeToggle()">Login</button>
  </div>

  </div>

</nav>
