<form #registerForm="ngForm" (ngSubmit)="checkout()">
  <h2 class="text-center text-primary">Checkout visit</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="firstname" [(ngModel)]="model.firstname" placeholder="First Name*">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="lastname" [(ngModel)]="model.lastname" placeholder="Last Name*">
  </div>


  <div class="form-group text-center">
    <button class="btn btn-outline-success" type="submit">Checkout</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>
