<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Register visit</h2>
  <hr>

  <!-- <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
  </div> -->

  <div class="form-group">
    <label for="favouriteValue">Kind of visit</label>
    <select [(ngModel)]="model.visitType" name="visitType" class="form-control" id="favouriteValue" >
      <option *ngFor="let value of valuesFromHome"  [value]="value" [ngValue] ="value.id">{{value.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="firstname" [(ngModel)]="model.firstname" placeholder="First Name*">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="lastname" [(ngModel)]="model.lastname" placeholder="Last Name*">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="firm" [(ngModel)]="model.company" placeholder="Company">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="numberplate" [(ngModel)]="model.numberplate" placeholder="Number Plate">
  </div>

  <!-- <div class="form-group">
    <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
  </div> -->

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>
